<div class="coupon">
    <div class="image-container">
        <img src="{{coupon?.logo}}" alt="Store Logo" />
    </div>
    <div class="title">
        {{coupon?.title}}
    </div>
    <div class="description">
        {{coupon?.description}}
    </div>
    <div class="coupon-code">
        <div class="show-code-btn " *ngIf="!isShowingCode" (click)="showCouponCode()">
            <span></span>
            <div class="censor">Klicka för att visa kod</div>
        </div>
        <div class="show-code-btn" *ngIf="isShowingCode">
            <div class="code">{{coupon?.code}}</div>
        </div>
    </div>
    <div class="copy-code-btn" *ngIf="isShowingCode" (click)="openInNewTab(coupon?.link)" [cdkCopyToClipboard]="coupon?.code || ''">Kopiera kod & öppna butik</div>
    <div class="expires" *ngIf="(timeLeft$ | async) as t">
        <div class="expires-title">Utgår om</div>
        <div class="expires-time" *ngIf="!isExpired">
            {{t.daysToDday}} <span>dag<span *ngIf="t.daysToDday > 1">ar</span>,</span>
            {{t.hoursToDday}} <span *ngIf="t.hoursToDday > 1">timmar</span><span *ngIf="t.hoursToDday < 2">timme</span>,
            {{t.minutesToDday}} <span>minut<span *ngIf="t.minutesToDday > 1">er</span>,</span>
            {{t.secondsToDday}} <span>sekund<span *ngIf="t.secondsToDday > 1">er</span></span>
        </div>
        <div class="expires-time" *ngIf="isExpired">
            Rabattkoden har utgått
        </div>
    </div>
</div>