<div class="coupon">
    <div class="container">
        <div 
            class="image" 
            [style.background-image]="'url(' + coupon?.logoURL + ')'"
            (click)="onCallToAction()"
            ></div>

        <h1>{{coupon?.programName}}</h1>

        <h2>{{coupon?.offerDescription}}</h2>

        <small style="display: flex; justify-content: center; padding-bottom: 10px">RABATTKOD</small>
        
        <div class="coupon-code" *ngIf="!isExpired">
            <h4>{{coupon?.offerCoupon}}</h4>
        </div>

        <div class="expired" *ngIf="isExpired">Rabattkoden har utgått. Håll utkik på vår instagram för nya rabattkoder.</div>

        <div class="call-to-action" (click)="onCallToAction()">
            <button class="btn-grad">Besök erbjudande</button>
        </div>

        <div class="timer" *ngIf="days > 0 || minutes > 0 || seconds > 0">
            <div>Rabattkod utgår om</div>
            <h4>{{days}} dagar {{minutes}} minuter {{seconds}} sekunder</h4>
        </div>

    </div>
</div>