<div class="masonry-container">
  <ngx-masonry class="masonry" [options]="masonryOptions">

    <div *ngFor="let campaign of campaigns" ngxMasonryItem class="masonry-item">

      <div (click)="onCallToAction(campaign)">

        <div class="card" [style.background-image]="'url(' + campaign.image + ')'">
        </div>

        <div class="footer">
          <div class="title">
            {{campaign.title}}
          </div>

          <div class="description">
            {{campaign.description}}
          </div>
        </div>
      </div>

    </div>

  </ngx-masonry>
</div>